.avatar-100 {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.avatar-100-image-overlay {
    display: none;
}

.avatar-100-image-overlay input[type="file"] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.avatar-100-image-overlay-wrapper:hover>.avatar-100-image-overlay {
    position: absolute;
    background: black;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}