<div class="clearfix pt2">
    <div class="md-col lg-col lg-col-3 md-col-2">&nbsp;</div>
    <div class="md-col lg-col lg-col-6 md-col-8">
        <mat-card class="m4 indigo-background-color">
            <div class="width-100 logo-container">
                <img src="/images/icon.png" alt="logo" class="logo indigo-background-color" >
            </div>
            <mat-card-header class="mt3 mb2 flex justify-center items-center">
                <div class="mr2" style="margin-top: -3px;">
                    <mat-icon class="white-text-color mr1 font-size-40" style="height: 100%;">security</mat-icon>
                </div>
                <div>
                    <h1 class="white-text-color my1 mb2">Change Password</h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                    <password-field *ngIf="!user.getSocial()" [inputControl]="oldPasswordControl" [title]="'Old Password'"></password-field>
                    <password-field [inputControl]="newPasswordControl" [title]="'New Password'"></password-field>
                    <password-field [inputControl]="newConfirmPasswordControl" [matchValue]="newPasswordControl.value" [title]="'Confirm New Password'"></password-field>

                <div class="clearfix mt3">
                    <div class="lg-col lg-col-12 p1">
                        <button class="width-100" mat-raised-button (click)="changePassword()">Change Password</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
