<div class="clearfix pt2">
    <div class="md-col lg-col lg-col-3 md-col-2">&nbsp;</div>
    <div class="md-col lg-col lg-col-6 md-col-8">
        <mat-card class="m4 indigo-background-color">
            <div class="width-100 logo-container">
                <img src="/images/icon.png" alt="logo" class="logo indigo-background-color" >
            </div>
            <mat-card-header class="mt3 mb2 flex justify-center items-center">
                <div class="mr2" style="margin-top: -3px;">
                    <mat-icon class="white-text-color mr1 font-size-40" style="height: 100%;">security</mat-icon>
                </div>
                <div>
                    <h1 class="white-text-color my1 mb2">Change Password</h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="white-input width-100 mt2" *ngIf="!user.getSocial()">
                    <input [formControl]="oldPasswordControl" matInput type="password" placeholder="Old Password">
                    <mat-error class="with-icon white-text-color" *ngIf="oldPasswordControl.getError('required')">
                        <div class="mr02">
                            <mat-icon>error_outline</mat-icon>
                        </div>
                        <div>
                            Old Password cannot be empty
                        </div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="white-input width-100 mt2">
                    <input [formControl]="newPasswordControl" matInput type="password" placeholder="New Password">
                    <mat-error class="with-icon white-text-color" *ngIf="newPasswordControl.getError('required')">
                        <div class="mr02">
                            <mat-icon>error_outline</mat-icon>
                        </div>
                        <div>
                            New Password cannot be empty
                        </div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="white-input width-100 mt2">
                    <input [formControl]="newConfirmPasswordControl" matInput type="password" placeholder="Confirm New Password">
                    <mat-error class="with-icon white-text-color" *ngIf="newConfirmPasswordControl.getError('required')">
                        <div class="mr02">
                            <mat-icon>error_outline</mat-icon>
                        </div>
                        <div>
                            Confirm Password cannot be empty
                        </div>
                    </mat-error>
                    <mat-error class="with-icon white-text-color" *ngIf="!newConfirmPasswordControl.getError('required') && newConfirmPasswordControl.getError('doesNotMatch')">
                        <div class="mr02">
                            <mat-icon>error_outline</mat-icon>
                        </div>
                        <div>
                            Confirm Password and New Password must match
                        </div>
                    </mat-error>
                </mat-form-field>
        
                <div class="clearfix mt3">
                    <div class="lg-col lg-col-12 p1">
                        <button class="width-100" mat-raised-button (click)="changePassword()">Change Password</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
