<h1 mat-dialog-title>Update Copied Item</h1>
<div mat-dialog-content class="container m-0 p-0">
    <mat-form-field class="value-input-control">
        <textarea
            matInput
            cdkFocusInitial
            [formControl]="copiedItemControl"
            [(ngModel)]="item.value" 
            rows="7"
            placeholder="Copied Item"
        >
        </textarea>
        <mat-error class="with-icon" *ngIf="!item.value">
            <div class="mr02">
                <mat-icon>error_outline</mat-icon>
            </div>
            <div>
                Value cannot be empty
            </div>
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <div class="row">
        <div class="col-6">
            <button class="mr-2 width-100" mat-button (click)="onCancel()">Cancel</button>        
        </div>

        <div class="col-6">
            <button class="width-100" mat-button [disabled]="!item.value" [mat-dialog-close]="item.value" color="primary">Update</button>
        </div>
    </div>
</div>