.width-100 {
    width: 100% !important;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.align-content-right {
    display: flex;
    justify-content: flex-end;
}
