.align-center {
    display: flex;
    justify-content: center
}

.preview-image {
    height: auto;
    max-width: 100%;
}

.hidden {
    visibility: hidden;
}

.font-size-30 {
    font-size: 30px;
}