@import './modals/create/create.component.scss';
@import './modals/update/update.component.scss';
@import './modals/delete/delete.component.scss';

.main-fab {
    position: fixed !important;
    bottom: 75px;
    right: 150px;
}

.white-background {
    background: white;
}

.avatar {
    position: relative;
    top: -4px;
}

mat-nav-list.copied-item-list {
    padding: 0;

    mat-list-item {
        div.mat-list-item-content {
            min-height: 75px;
        }
    }
}

.pull-right {
    float: right;
}