@import './modals/create/create.component.scss';
@import './modals/update/update.component.scss';
@import './modals/delete/delete.component.scss';
@import '../../shared/variable.scss';

.main {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
}

.main-fab {
    position: fixed !important;
    bottom: 5%;
    right: 7%;
}

.white-background {
    background: white;
}

.avatar {
    position: relative;
    top: -4px;
}

mat-nav-list.copied-item-list {
    padding: 0;

    mat-list-item {
        div.mat-list-item-content {
            min-height: 75px;
        }
    }
}

.pull-right {
    float: right;
}