<div class="margin-top-50 clearfix">
    <div class="col col-4"></div>
    <div class="col col-4">
        <mat-card class="indigo-background-color">
            <mat-card-header class="flex justify-center items-center">
                <mat-icon class="white-text-color mr1 font-size-30" style="height: 100%;">security</mat-icon>

                <div>
                    <h2 class="white-text-color mb0">
                        Change Password 
                    </h2>
                </div>
            </mat-card-header>
            <mat-card-content class="mt2">
                <mat-form-field fxFlex class="white-input width-100 mt2" hintLabel="{{oldPasswordError}}">
                    <input matInput type="password" placeholder="Old Password" [(ngModel)]="user.oldPassword">
                </mat-form-field>

                <mat-form-field fxFlex class="white-input width-100 mt2" hintLabel="{{newPasswordError}}">
                    <input matInput type="password" placeholder="New Password" [(ngModel)]="user.newPassword">
                </mat-form-field>

                <mat-form-field fxFlex class="white-input width-100 mt2" hintLabel="{{newPasswordMatchError}}">
                    <input matInput type="password" placeholder="Confirm New Password" [(ngModel)]="user.confirmNewPassword">
                </mat-form-field>

                <div class="clearfix">
                    <div class="col col-12 p1" fxFlex>
                        <button class="width-100" mat-raised-button fxFlex (click)="changePassword()">Change Password</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
