<mat-toolbar color="primary" class="mat-elevation-z6">
    <img src="/images/icon.png" alt="logo" style="height: 50px;" class="mr1">
    
    <span>
        <a style="color: white; text-decoration: none;" [routerLink]="['/home']">Smart Copy</a>
    </span>

    <span class="toolbar-spacer"></span>

    <button matTooltip="Download Mobile Apps" mat-icon-button *ngIf="user && user.getUsername()" [matMenuTriggerFor]="downloadMenu">
        <mat-icon>cloud_download</mat-icon>
    </button>
    <mat-menu #downloadMenu="matMenu">
        <button mat-menu-item (click)="downloadApp('android')">
            <mat-icon>android</mat-icon>
            <span>Android</span>
        </button>
    </mat-menu>

    <button matTooltip="{{loading ? 'Loading...' : 'Refresh'}}" class="p3" *ngIf="user && user.getUsername()" mat-icon-button (click)="reloadList()">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner class="item-loader" *ngIf="loading"></mat-spinner>
    </button>

    <button *ngIf="user && user.getUsername()" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon> &nbsp; {{user && user.getUsername()}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard/user">
            <mat-icon>person</mat-icon>
            <span>User Details</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>