<mat-form-field class="white-input mt-1 width-100">
    <input matInput [formControl]="inputControl" placeholder="{{title}}" type="password">
    <mat-error class="with-icon white-text-color" *ngIf="inputControl.getError('required')">
        <div class="mr02">
            <mat-icon>error_outline</mat-icon>
        </div>
        <div>
            Password cannot be empty
        </div>
    </mat-error>

    <mat-error class="with-icon white-text-color" *ngIf="!inputControl.getError('required') && inputControl.getError('doesNotMatch')">
        <div class="mr02">
            <mat-icon>error_outline</mat-icon>
        </div>
        <div>
            Password and Confirm Password must match
        </div>
    </mat-error>
</mat-form-field>