.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-toggle-switch {
    color: white;
}

.white-toggle-switch.mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: grey !important;
}

.white-toggle-switch.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: white !important;
}

div.logo-container {
    $logo-height: 80px;
    $rim-padding: 10px;
    $total-height: ($logo-height + 2*$rim-padding);

    position: absolute;
    left: 0;
    top: -$total-height/2;

    img.logo {
        display: block;
        margin-left: auto;
        height: $logo-height;
        margin-right: auto;
        padding: $rim-padding;
        border-radius: $total-height/2;
    }

}

%social-login-button {
    height: 40px;
    font-size: 17px;
    color: white;

    i {
        position: absolute;
        top: 30%;
        left: 5%;
    }
}

button.google-login {
    @extend %social-login-button;
    background: #D34836;
}

button.facebook-login {
    @extend %social-login-button;
    background: #3B5998;
}